* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  /* background-color: #0ff; */
  width: 100%;
  /* height: 100px; */
}

/* colocar o botão fixo na direita sem padding */
nav {
  background-color: rgb(245, 138, 138);
  width: 100%;
  height: 3.2em;
  padding-left: 81%;
  /* padding-top: 5%; */
}

h4 {
  font-family: "nixie one";
  font-weight: bolder;
}

span {
  font-family: "Bellota Text";
}

span:hover {
  font-weight: bolder;
  cursor: pointer;
}

aside {
  /* background-color: #0f0; */
  width: 18.9em;
  /* height: 90%; */
  float: left;
  padding-bottom: 100%;
}
section {
  width: 17.5em;
  height: 18.75em;
  border-radius: 0.625em;
  float: left;
  margin-left: 1em;
}
.sec3,
.sec4,
.sec5,
.sec6,
.sec7,
.sec8 {
  margin-top: 1.875em;
}

.sec {
  /* background-color: rgb(233, 36, 36); */
  width: 100%;
  height: 1.875em;
  float: left;
  margin-top: 3.125em;
  /* padding-left: 300px; */
}
/* imagens */
img {
  width: 17.5em;
  height: 16.25em;
  border-radius: 0.625em;
}

#gif {
  position: absolute;
  width: 75em;
  height: 75em;
  z-index: -1;
}

#caixa {
  /* background-color: #000; */
  width: 100%;
  height: 75em;
  /* margin: 0 auto; */
  background-image: url("https://media.giphy.com/media/120ErahsQyf1q8/giphy.gif");
  background-size: 30%;
  /* background-image: url("https://i.gifer.com/ZcsJ.gif"); */
}
